.DS_Store
*.pyc*
node_modules
npm-debug.log
frontend/build/*
venv/
migrations/
.env
package-lock.json
*.log
*-credentials.json
cloud_sql_proxy
backend/static/
start_proxy.sh
.envrc
.env*
static/
cloudmigrate*
*startup*
update_cloud_run.sh
